/* Style the form - display items horizontally */
.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #800000;
  opacity:0.85;
  float: right;
  border-radius: 6px;
  color: white;
  
}

.form-inline button:hover {
  background-color:black;
}

.form-inline select {
  padding: 10px 20px;
  margin: 5px 10px 5px 0;
  background-color: white;
  border-radius: 6px;
  color: black;
}


/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

